<div id="lists-container" data-uid="<%= current_user.uid if current_user %>">
  <script type="text/x-handlebars">
    {{#if Listter.listsController.content.length}}
      {{#each Listter.listsController.content}}
        {{#view Listter.ListView listBinding="this" class="list" }}
          {{view Ember.Checkbox tagName="span" titleBinding="list.name" valueBinding="list.isChecked"}}
            <div class="list-meta">
              <span class="list-members">{{list.members}}</span>
              <button {{action removeList}}>Delete</button>
              <a {{bindAttr href="list.link"}} target="_blank" title="View list on Twitter.com"><%= image_tag 'external.png', :size => '9x9' %></a>
            </div>
        {{/view}}
      {{/each}}
    {{else}}
      <% if current_user %>
        <div class="ui-progress-bar ui-container transition warning" id="progress-bar">
          <div class="ui-progress" style="width: 100%; ">
            <span class="ui-label">Loading your Twitter lists...</span>
          </div>
        </div>
      <% end %>
    {{/if}}
  </script>
</div>

<% if current_user %>
  <div class="warning-message" id="no-lists-message" style="display: none;"><strong>Looks like you don't have any Twitter lists.</strong> You need at least two lists to be able to merge lists using Listter. You can create a new list <%= link_to 'here', 'http://twitter.com/' + current_user.screen_name + '/lists' %>.</div>
<% end %>

<%= render 'merge-dialog' %>
