/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
*/

$content-width: 360px;

@mixin rounded($radius: 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  }

@mixin rounded-bottom($radius: 5px) {
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  }

@mixin transition($property: all, $duration: .2s) {
  -moz-transition: $property $duration;
  -webkit-transition: $property $duration;
  transition: $property $duration;
  }

@mixin transform($scale: 1.01) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  transform: scale($scale);
  }

@mixin transform-center {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
  }

@mixin box-shadow($x-offset: 0, $y-offset: 3px, $fade: 5px, $color: rgba(0, 0, 0, .2)) {
  -moz-box-shadow: $x-offset $y-offset $fade $color;
  -webkit-box-shadow: $x-offset $y-offset $fade $color;
  box-shadow: $x-offset $y-offset $fade $color;
  }

@mixin box-shadow-inset($x-offset: 3px, $y-offset: 3px, $fade: 5px, $color: rgba(0, 0, 0, .2)) {
  -moz-box-shadow: $x-offset $y-offset $fade $color inset;
  -webkit-box-shadow: $x-offset $y-offset $fade $color inset;
  box-shadow: $x-offset $y-offset $fade $color inset;
  }

@mixin box-shadow-none {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

@mixin no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  }

@mixin background-gradient($color1, $color2) {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
  background-image: -moz-linear-gradient(center top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
  }

/* !Globals */

body {
  font: 16px Arial, sans-serif;
  }

p {
  margin: 1em 0;
  line-height: 1.4;
  }

h1 {
  font-size: 114px;
  font-weight: bold;
  margin: 0 0 20px;
  text-shadow: 8px 8px 0 rgba(255, 215, 0, .5);
  color: rgba(0, 0, 128, .6);
  -webkit-transform: skew(-7deg);
  -moz-transform: skew(-7deg);
  transform: skew(-7deg);
  -webkit-text-stroke: 4px white; /* only supported on WebKit */
  }

/* !Main Styles */

.content {
  width: $content-width;
  margin: 50px auto;
  }

.user-bar {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -($content-width / 2);
  width: $content-width;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 0;
  margin-bottom: 20px;
  border-bottom: solid 1px #EEE;
  color: #666;
  }

#user-avatar {
  float: left;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-color: #EEE;
  background-size: cover;
  @include rounded(3px);
  }

.user-bar a {
  float: right;
  color: #666;
  font-weight: bold;
  }

.merge-inline-help {
  margin-bottom: 30px;
  padding: 0 30px;
  }

.callout {
  margin-bottom: 30px;
  }

.callout strong { /* keep TM from falling to next line */
  margin-right: -2px;
  }

.trademark {
  font-size: 8px;
  position: relative;
  top: -8px;
  }

/* !Buttons */

button,
input[type="submit"] {
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 4px 8px;
  font: bold 14px Arial, sans-serif;
  border: solid 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #333333;
  color: rgba(0, 0, 0, .7);
  background-color: #EEE;
  @include background-gradient(white, #DDD);
  @include rounded(5px);
  @include transition;
  }

button:hover,
input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 0% 50%, 0% 100%, from(white), to(#DDD));
  background-image: -moz-linear-gradient(center center, white, #DDD);
  }

button:active,
input[type="submit"]:active {
  background-color: #DDD;
  @include background-gradient(#DDD, white);
  @include box-shadow-inset(0, 1px, 2px, rgba(0, 0, 0, .5));
  }

button:focus,
input[type="submit"]:focus {
  outline: none;
  }

button:disabled,
button:disabled:hover,
input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
  color: #B3B3B3;
  background-color: #DDD;
  @include background-gradient(#EEE, #DDD);
  box-shadow: none;
  text-shadow: none;
  }

button:last-child,
input[type="submit"]:last-child {
  margin: 0;
  }

.ui-button:last-child {
  border: none;
  background: white;
  }

.list button {
  font-size: 13px;
  }

.primary-button,
input[type="submit"].primary-button {
  display: block;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 26px;
  @include rounded(10px);
  background-color: orange;
  @include background-gradient(gold, orange);
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  @include box-shadow-inset(0, -4px, 6px, gold);
  }

.primary-button:hover,
input[type="submit"].primary-button:hover {
  background-image: -webkit-gradient(linear, 0% 50%, 0% 100%, from(gold), to(orange));
  background-image: -moz-linear-gradient(center center, gold, orange);
  @include box-shadow-inset(0, -4px, 6px, rgba(255, 215, 0, .8));
  }

.primary-button:active,
input[type="submit"].primary-button:active {
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 1px 0 1px rgba(0,0,0,0.1), inset 0 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 1px 0 1px rgba(0,0,0,0.1), inset 0 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 1px 0 1px rgba(0,0,0,0.1), inset 0 1px rgba(0,0,0,0.2);
  -webkit-text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  }

button::-moz-focus-inner {
  border: 0;
  padding: 0;
  }

/* !Lists */

#lists-container {
  margin-top: 1em;
  }

.list {
  border: solid 1px #DDD;
  overflow: hidden;
  margin-bottom: 10px;
  line-height: 24px;
  background: white;
  width: 358px;
  @include transition;
  @include no-select;
  }

.list.is-checked {
  border-color: black;
  margin-left: -5px;
  width: 370px;
  @include box-shadow;
  }

.list label {
  font-weight: bold;
  padding: 20px;
  display: block;
  width: 160px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

.list label input[type="checkbox"] {
  margin-right: 15px;
  font-weight: bold;
  }

.list-meta {
  padding: 20px;
  float: right;
  text-align: right;
  width: 118px;
  background: #EEE;
  }

.list-members {
  display: inline-block;
  font-size: 12px;
  background: navy;
  color: white;
  font-weight: bold;
  width: 40px;
  text-align: center;
  @include rounded;
  }

/* !Forms */

.field {
  margin: 1.2em 0;
  }

.field label {
  font-weight: bold;
  font-size: 14px;
  }

.field select,
.field input[type="text"] {
  margin-top: 6px;
  border: solid 1px #999;
  padding: 8px;
  font: 16px Arial, sans-serif;
  }

.field input[type="text"] {
  display: block;
  width: 256px;
  @include rounded(3px);
  }

.field select {
  display: inline-block;
  width: 275px;
  height: 36px;  }

.field input[type="checkbox"] {
  margin-right: 5px;
  }

.field select:focus,
.field input:focus {
  outline: none;
  border: solid 1px black;
  }

/* !Modals */

.ui-dialog {
  background-color: white;
  padding: 20px;
  border: solid 1px #666;
  @include rounded;
  @include box-shadow(0, 5px, 25px, rgba(0, 0, 0, .8));
  }

.ui-dialog-titlebar {
  font-weight: bold;
  color: #666;
  }

.ui-dialog-titlebar .spinner {
  float: right;
  margin-top: 11px;
  margin-right: 11px;
  }

.ui-dialog-content {
  margin: 1em 0;
  line-height: 1.4;
  }

.ui-dialog-content:last-child {
  margin-bottom: 0;
  }

.ui-dialog-titlebar-close {
  display: none;
  float: right;
  font-weight: normal;
  text-decoration: none;
  color: #666;
  }

.alert-dialog .ui-dialog-titlebar-close {
  display: block;
  }

.warning-message,
.error-message {
  padding: 10px;
  border: 1px solid #624D1F;
  line-height: 1.4;
  font-size: 14px;
  @include rounded(5px);
  }

.ui-dialog .warning-message,
.ui-dialog .error-message {
  font-size: 12px;
  }

.warning-message {
	background-color: #FFECC5;
	color: #624D1F;
  }

.warning-message a {
  color: #624D1F;
  }

.error-message {
	background-color: #FFE3DF;
	border-color: #72190D;
	color: #72190D;
  }

.error-message a {
  color: #72190D;
  }

/* !Inline Help */

.inline-help {
  color: #666;
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.4;
  }

.inline-help a {
  color: #666;
  }

/* !Flash Messaging */

#notice,
#warning {
  padding: 5px;
  color: white;
  font-size: 12px;
  @include rounded;
  }

#notice {
  background-color: green;
  }

#warning {
  background-color: red;
  }

/* !Footer */

footer {
  margin-top: 50px;
  line-height: 1.6;
  color: #999;
  font-size: 12px;
  text-align: center;
  }

footer a {
  color: #999;
  }

/* !Override default Progress Bar styles */

.ui-progress {
  text-align: center;
  }

.ui-progress-bar .ui-progress span.ui-label {
  position: static;
  padding: 0;
  }
